### Assignment: Week5&6 Assignment
### Name: Karna, RajasekharReddy
### Date: 04/22/2021
#Task-1:
- Open the page in a separate Chrome/Firefox tab and use something like an Inspect Element tool to view the source HTML and understand its structure
- Read the page using bs4
- Find the table structure you will need to deal with (how many tables there are?)
- Find the right table using bs4
- Separate the source names and their corresponding data
- Get the source names from the list of sources you have created
- Separate the header and data from the data that you separated before for the first source only, and then create a DataFrame using that
- Repeat the last task for the other two data sources

#Task-2:
- Read the visit_data.csv file.
- Check for duplicates.
- Check if any essential column contains NaN.
- Get rid of the outliers.
- Report the size difference.
- Create a box plot to check for outliers.
- Get rid of any outliers.

#### Import the bs4 and pandas libraries

In [152]:
from bs4 import BeautifulSoup
import pandas as pd

In [153]:
fd = open("List of countries by GDP (nominal) - Wikipedia.htm", "r")
soup = BeautifulSoup(fd)
fd.close()

#### Capture the list of tables present in the html page

In [154]:
all_tables = soup.find_all("table")
print("Total number of tables are {} ".format(len(all_tables)))

Total number of tables are 9

#### Identify the right table in bs4 class attribute

In [155]:
data_table = soup.find("table", {"class": '"wikitable"|}'})
print(type(data_table))

<class 'bs4.element.Tag'>

#### Separate the source data

In [156]:
sources = data_table.tbody.findAll('tr', recursive=False)[0]
sources_list = [td for td in sources.findAll('td')]
print(len(sources_list))

3

In [157]:
data = data_table.tbody.findAll('tr', recursive=False)[1].findAll('td', recursive=False)

In [158]:
data_tables = []
for td in data:
    data_tables.append(td.findAll('table'))

In [159]:
len(data_tables)

3

#### Capture source names

In [160]:
source_names = [source.findAll('a')[0].getText() for source in sources_list]
print(source_names)

['International Monetary Fund', 'World Bank', 'United Nations']

#### Separate the header and data from the above separatd data followed by creaing the a Data Frame

In [161]:
header1 = [th.getText().strip() for th in data_tables[0][0].findAll('thead')[0].findAll('th')]
header1

['Rank', 'Country', 'GDP(US$MM)']

In [162]:
rows1 = data_tables[0][0].findAll('tbody')[0].findAll('tr')[1:]

In [163]:
data_rows1 = [[td.get_text().strip() for td in tr.findAll('td')] for tr in rows1]

In [164]:
df1 = pd.DataFrame(data_rows1, columns=header1)

In [165]:
df1.head()

  Rank         Country  GDP(US$MM)
0    1   United States  19,390,600
1    2      China[n 1]  12,014,610
2    3           Japan   4,872,135
3    4         Germany   3,684,816
4    5  United Kingdom   2,624,529

#### Perform same activity same as above on other data sources

In [166]:
header2 = [th.getText().strip() for th in data_tables[1][0].findAll('thead')[0].findAll('th')]
header2

['Rank', 'Country', 'GDP(US$MM)']

In [167]:
rows2 = data_tables[1][0].findAll('tbody')[0].findAll('tr')[1:]

In [168]:
def find_right_text(i, td):
    if i == 0:
        return td.getText().strip()
    elif i == 1:
        return td.getText().strip()
    else:
        index = td.text.find("â™ ")
        return td.text[index+1:].strip()

In [169]:
data_rows2 = [[find_right_text(i, td) for i, td in enumerate(tr.findAll('td'))] for tr in rows2]

In [170]:
df2 = pd.DataFrame(data_rows2, columns=header2)

In [171]:
df2.head()

  Rank             Country  GDP(US$MM)
0    1       United States  19,390,604
1       European Union[23]  17,277,698
2    2          China[n 4]  12,237,700
3    3               Japan   4,872,137
4    4             Germany   3,677,439

In [172]:
header3 = [th.getText().strip() for th in data_tables[2][0].findAll('thead')[0].findAll('th')]
header3

['Rank', 'Country', 'GDP(US$MM)']

In [173]:
rows3 = data_tables[2][0].findAll('tbody')[0].findAll('tr')[1:]

In [174]:
data_rows3 = [[find_right_text(i, td) for i, td in enumerate(tr.findAll('td'))] for tr in rows2]

In [175]:
df3 = pd.DataFrame(data_rows3, columns=header3)
df3.head()

  Rank             Country  GDP(US$MM)
0    1       United States  19,390,604
1       European Union[23]  17,277,698
2    2          China[n 4]  12,237,700
3    3               Japan   4,872,137
4    4             Germany   3,677,439

#### Import the numpy, pandas and pyplot libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

#### Read CSV data and capture header data

In [ ]:
df = pd.read_csv("visit_data.csv")

In [ ]:
df.head()

#### From the analysis, users can see some outliers and missing values
#### Analyze and capture the data duplicates

In [ ]:
print("First name is duplictaed - {}".format(any(df.first_name.duplicated())))
print("Last name is duplictaed - {}".format(any(df.last_name.duplicated())))
print("Email is duplictaed - {}".format(any(df.email.duplicated())))

#### From the analysis, user can see duplicates in both First and Last names.
#### However there is no duplicate in email.

In [ ]:
print("The column Email contains NaN - %r " % df.email.isnull().values.any())
print("The column IP Address contains NaN - %s " % df.ip_address.isnull().values.any())
print("The column Visit contains NaN - %s " % df.visit.isnull().values.any())

#### The visit data contains couple of none values, which can be marked as outliers. Let's get rid of them
#### As a best practise, store previous size of the data set and we will compare same with the new size to ensure on accuracy.

In [ ]:
size_prev = df.shape
df = df[np.isfinite(df['visit'])]
size_after = df.shape

In [ ]:
print("The size of previous data was - {prev[0]} rows and the size of the new one is - {after[0]} rows".
      format(prev=size_prev, after=size_after))

In [ ]:
plt.boxplot(df.visit, notch=True)

#### From the extract, user can see data in the interval (0, 3000).
#### The primary focus of the data is between ~700 to ~2300.
#### The outside boundaries of data, like beyond 2900 and bellow 100, are outliers of data.

In [ ]:
df1 = df[(df['visit'] <= 2900) & (df['visit'] >= 100)]

In [ ]:
print("After getting rid of outliers the new size of the data is - {}".format(*df1.shape))